:root{

/* ==========================================================
   Theme
========================================================== */

    --primary:#008C8E;
    --primary-dark:#006E70;
    --primary-light:#00A1A3;
    --accent:#00B7BA;

/* ==========================================================
   Background
========================================================== */

    --body-bg:#E8FBFB;
    --body-bg2:#F5F5F5;
    --card-bg:#FFFFFF;
    --item-bg:#F8F9FA;
    --verify-bg:#EEFDFD;
    --footer-bg:#FAFAFA;
    --loading-bg:#F5F8F6;

/* ==========================================================
   Text
========================================================== */

    --text:#222222;
    --gray:#666666;
    --light-gray:#777777;
    --white:#FFFFFF;
    --verify-date:#888888;
    --border:#EEEEEE;

/* ==========================================================
   Loading Screen
========================================================== */

    --request-bg:#EEF3F8;
    --request-border:#D5DDE8;
    --request-text:#4B5563;

    --spinner-track:#DBEAFE;

    --progress-bg:#DDDDDD;
    --progress-end:#20B657;

}