:root{

/* ==========================================================
   Theme
========================================================== */

    --primary:#0F172A;
    --primary-dark:#020617;
    --primary-light:#334155;
    --accent:#38BDF8;

/* ==========================================================
   Background
========================================================== */

    --body-bg:#F1F5F9;
    --body-bg2:#F8FAFC;
    --card-bg:#FFFFFF;
    --item-bg:#F8FAFC;
    --verify-bg:#EFF6FF;
    --footer-bg:#F8FAFC;
    --loading-bg:#F1F5F9;

/* ==========================================================
   Text
========================================================== */

    --text:#0F172A;
    --gray:#475569;
    --light-gray:#64748B;
    --white:#FFFFFF;
    --verify-date:#94A3B8;
    --border:#E2E8F0;

/* ==========================================================
   Loading Screen
========================================================== */

    --request-bg:#E2E8F0;
    --request-border:#CBD5E1;
    --request-text:#334155;

    --spinner-track:#BFDBFE;

    --progress-bg:#CBD5E1;
    --progress-end:#22C55E;

}
