:root{

/* ==========================================================
   Theme
========================================================== */

    --primary:#F97316;
    --primary-dark:#EA580C;
    --primary-light:#FB923C;
    --accent:#F43F5E;

/* ==========================================================
   Background
========================================================== */

    --body-bg:#FFF8F3;
    --body-bg2:#FFFCFA;
    --card-bg:#FFFFFF;
    --item-bg:#FFF9F6;
    --verify-bg:#FFF1F2;
    --footer-bg:#FCFAF8;
    --loading-bg:#FFF7F2;

/* ==========================================================
   Text
========================================================== */

    --text:#292524;
    --gray:#57534E;
    --light-gray:#78716C;
    --white:#FFFFFF;
    --verify-date:#A8A29E;
    --border:#E7E5E4;

/* ==========================================================
   Loading Screen
========================================================== */

    --request-bg:#FFF7ED;
    --request-border:#FED7AA;
    --request-text:#44403C;

    --spinner-track:#FFEDD5;

    --progress-bg:#D6D3D1;
    --progress-end:#22C55E;

}
